# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: release

on:
    push:
        tags:
            - "v*"

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
        matrix:
            include:
                - os: windows-latest
                  rid: win-x64
                - os: ubuntu-latest
                  rid: linux-x64
                - os: macos-latest
                  rid: osx-arm64
    steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-dotnet@v4
          with:
            dotnet-version: 10.0.x
        - name: Publish
          run: dotnet publish ./src/Dosiero --self-contained --runtime ${{ matrix.rid }} --output publish /p:DebugType=None /p:DebugSymbols=false
        - name: Zip (Windows)
          if: ${{ matrix.os == 'windows-latest' }}
          run: Compress-Archive -Path "publish/*" -DestinationPath "dosiero-${{ matrix.os }}-${{ github.ref_name }}.zip"
        - name: Zip (Linux/MacOS)
          if: ${{ matrix.os != 'windows-latest' }}
          run: zip -r dosiero-${{ matrix.os }}-${{ github.ref_name }}.zip ./publish/
        - name: Release
          uses: svenstaro/upload-release-action@v2
          with:
            file: dosiero-${{ matrix.os }}-${{ github.ref_name }}.zip
            tag: ${{ github.ref }}
